@font-face {
font-family: "Acherus Black";
src: url("css/fonts/acherus-grotesque-black/acherus-grotesque-black.eot");
src: 
url("css/fonts/acherus-grotesque-black/acherus-grotesque-black.woff") format("woff"),
url("css/fonts/acherus-grotesque-black/acherus-grotesque-black.woff#filename") format("svg");
}

@font-face {
font-family: "Acherus light";
src: url("css/fonts/acherus-grotesque-light/acherus-grotesque-light.eot");
src: 
url("css/fonts/acherus-grotesque-light/acherus-grotesque-light.woff") format("woff"),
url("css/fonts/acherus-grotesque-light/acherus-grotesque-light.woff#filename") format("svg");
}


header, footer {
	width: 100%;
	background-color: #336699;
	color: #fff;
	padding: .5em;
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: .02em;
}

h1 {
	font-family: "Acherus Black";
	font-size: 3.75em;
}


h2{
	line-height: .75em;
	font-size: 1.75em;
	font-family: 'Acherus Black';
}
h3{
	line-height: .75em;
	font-size: .9em;
	font-family: 'Acherus Light';
}
h5 {
	line-height: .75em;
	font-size: 1.2em;
	font-family: 'Acherus black';
}

nav ul, footer ul {
	margin: 1.8em 1em;
	float: right;
}

nav li, footer li{
	list-style: none;
	text-transform: uppercase;
	display: inline;
	padding: .4em;
}

nav li a {
	color: #fff;
}

.current {
	border-bottom: .01em solid #fff;
}

nav li a:hover {
	color: #fadf8d;
}

#newHere a {
	background-color: #fff;
	color: #336699;
	padding: .5em;
}

button{
	font-family: 'acherus black';
	font-size: 1.3em;
	text-transform: uppercase;
	border: .2em solid #336699;
	padding: 10px 91px;
	margin: 4.25% 0 5% 2%;
}

.buttonClear {
	border: none;
}

.affirmation h2, .doctorine h2 {
	color: #336699;
	text-align: left;
	border-bottom: .1em solid #336699;
	margin-bottom: 1em;
	padding-bottom: .2em;
}
.affirmation h3, .doctorine h3 {
	color: #336699;
	font-size: 1.5em;
	margin-top: 1.2em;
}

.address {
	margin-top: 2em;
}

#beliefFeature {
	position: absolute;
	margin-left: 20px;
}

#beliefHeading h2, #beliefHeading h3 {
	background-color: rgba(0,0,0,.3);
	padding: .25em;
	margin: 0;
}

#beliefImg {
	float: left;
}

.building{
	margin-top:2em;
	margin-bottom:4em;
}

.churchInfo {
	margin: -1.5em auto 1.5em;
}

#directions {
	font-family: 'acherus light';
	font-size: 1em;
	color: #336699;
	text-align: center;
	margin-top: 1.5em;
	margin-left: 5%;
}

.doctorine {
	margin-bottom: 4em;
}

.email {
	color:#2F6795;
}

.email:hover {
	color:#FFB43E;
}

.expository {
	margin-top:-7em;
}

.expositoryCopy {
	margin-top: -4em;
}

.events {
	margin-top: 3em;
}

#eventHeading h2 {
	margin-bottom: 1em;
	line-height: 1em;
}

.eventsSection2 {
	margin-top: -3.5em;
}


#featuredEvents h1, #featuredEvents h3{
	background-color: rgba(0,0,0,.5);
	padding-left: .5em;
	padding-right: .5em;
	margin: 0;
}

#featuredEvents h3 {
	padding-bottom: 1.5em;
}

#featuredEvents{
	margin-top: 2em;
	margin-bottom: 2em;
}

#featuredEventsImg, #sermonImg, #inviteImg,{
	float: left;
	width: 100%;
}


#featuredHeading {
	margin: -35% 0% 40%;
}

#featuredVideo {
	margin-left: -3.4em;
}

.grid-container {
	margin-bottom: 20px;
}

#inviteHeading {
	margin-top:-8em;
}

#inviteHeading, .joinUs, #staffHeading {
	margin-left: 5%;
	padding: .25em;
} 

.joinUs h3, .joinUs h5, .joinUs h2 {
	color: #336699;
}


.learnAbout {
	text-align: left;
	font-family: "Acherus Black";
	color: #336699;
	margin: .75em 0 1em;
}

.mapAddress {
	margin-top: -9em;
}

.minstries {
	margin-top: -2em;
}

.ourBeliefs {
	margin: -7em 0 6.35em;
}

.quoteCall {
	border-top: .1em solid #336699;
	border-bottom: .1em solid #336699;
	color: #336699;
	padding: 1em;
	font-size: 2.3em;
	line-height: 1.2em;
	margin: 1.4em 0;
}

.reference {
	color: #336699;
	font-size: .5em;
}

.resources h3, .resources h5, .expository h3, .expository h2, .ourBeliefs h3, .ourBeliefs h2{
	color: #fff;

}

.Scroll{
	margin-bottom: 9em;
}

#secondaryFeature, #inviteImg {
	margin-top: 2em;
	margin-left: -0.25%;
}

.SecondaryPageTitle{
	margin: -5em 2em;
	line-height: 1em;
}

#sermonHeading {
	margin-top: -11.5em;
	margin-bottom: 2.3em;
	margin-left: .25%;
}

#sermonHeading img {
	margin: 2em 0 .25em 8.5em;
}


#sermonHeading h2, #sermonHeading h3, #sermonHeading h5 {
	background-color: rgba(0,0,0,.3);
	padding: .25em;
	margin: 0;
}

#staffHeading, #eventHeading {
	margin-top: 4em;
}

#staffHeading h5, #staffHeading h2, #staffHeading h3, #eventHeading h5, #eventHeading h2{
	color: #336699;
}

#staffHeading h3{
	margin-bottom: 2em;
}

.staffHeadingSpecial{
	margin-top: -3em;
}
.staffHeadingSpecial2 {
	margin-top: -1em;
}

#staffHeading p {
	font-size: .8em;
}


.title {
	margin-top: -3.75em;
	margin-bottom: 3em;
	font-size:2em;
}

.title h5{
	line-height: .9em;
}

.yourLocation {
	border: none;
	 background: rgba(47, 103, 149, 0.3);
	 padding: 10px 95px;
}

.yourLocation a {
	font-family: "Acherus light";
	font-size: .75em;
}


.welcome {
	margin: -27em 42em auto 4em;
    padding: 1em;
    line-height: 4em;
}

.welcome h1 {
	color: #FFB43E;
}

.welcome h3 {
	line-height: 1.75em;
	text-align: left;
	text-transform: none;
}

.welcome button {
	background: #FFB43E;
	border: none;
	margin: 0 1px;
	padding: 10px 70px;
	color: #FFF;
}








