@font-face {
font-family: "Acherus Black";
src: url("css/fonts/acherus-grotesque-black/acherus-grotesque-black.eot");
src: 
url("css/fonts/acherus-grotesque-black/acherus-grotesque-black.woff") format("woff"),
url("css/fonts/acherus-grotesque-black/acherus-grotesque-black.woff#filename") format("svg");
}

@font-face {
font-family: "Acherus light";
src: url("css/fonts/acherus-grotesque-light/acherus-grotesque-light.eot");
src: 
url("css/fonts/acherus-grotesque-light/acherus-grotesque-light.woff") format("woff"),
url("css/fonts/acherus-grotesque-light/acherus-grotesque-light.woff#filename") format("svg");
}


header, footer {
	width: 100%;
	background-color: #336699;
	color: #fff;
	padding: .5em;
}

nav ul, footer ul {
	margin: 1.8em 1em;
	float: right;
}

nav li, footer li{
	list-style: none;
	text-transform: uppercase;
	display: inline;
	padding: .4em;
}

nav li a {
	color: #fff;
}

.current {
	border-bottom: .01em solid #fff;
}

nav li a:hover {
	color: #fadf8d;
}

#newHere a {
	background-color: #fff;
	color: #336699;
	padding: .5em;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: .02em;
}

h1 {
	font-family: "Acherus Black";
	font-size: 3.75em;
}

#featuredEvents h1, #featuredEvents h3{
	background-color: rgba(0,0,0,.5);
	padding-left: .5em;
	padding-right: .5em;
	margin: 0;
}

#featuredEvents h3 {
	padding-bottom: 1.5em;
}

#featuredEvents{
	margin-top: 2em;
	margin-bottom: 2em;
}

#featuredEventsImg, #sermonImg, #inviteImg,{
	float: left;
	width: 100%;
}

#beliefImg {
	float: left;
}

#featuredHeading {
	margin: -57% 0% 40%;
}


#secondaryFeature, #inviteImg {
	margin-top: 2em;
	margin-left: -0.25%;
}

#sermonHeading {
	margin-top: -16em;
	margin-bottom: 8.1em;
	margin-left: .25%;
}

#sermonHeading img {
	margin: -4em 0 4em -7.5em;
}


#beliefFeature {
	position: absolute;
	margin-left: 20px;
}

#inviteHeading {
	margin-top:-12em;
}

#inviteHeading, .joinUs {
	margin-left: 5%;
	padding: .25em;
} 

.joinUs h3, .joinUs h5, .joinUs h2 {
	color: #336699;
}

#sermonHeading h2, #sermonHeading h3, #sermonHeading h5 {
	background-color: rgba(0,0,0,.3);
	padding: .25em;
	margin: 0;
}
#beliefHeading h2, #beliefHeading h3 {
	background-color: rgba(0,0,0,.3);
	padding: .25em;
	margin: 0;
}

#sermonHeading img {
	padding-left: 40%;
	
}

h2{
	line-height: .75em;
	font-size: 1.75em;
	font-family: 'Acherus Black';
}
h3{
	line-height: .75em;
	font-size: .9em;
	font-family: 'Acherus Light';
}
h5 {
	line-height: .75em;
	font-size: 1.2em;
	font-family: 'Acherus black';
}

.address {
	margin-top: 1em;
}


#directions {
	font-family: 'acherus light';
	font-size: 1em;
	color: #336699;
	text-align: center;
	margin-top: 1.5em;
	margin-left: 5%;
}

button{
	font-family: 'acherus black';
	font-size: 1.3em;
	text-transform: uppercase;
	border: .2em solid #336699;
	padding: 10px 91px;
	margin: 4.25% 0 5% 2%;
}

.yourLocation {
	border: none;
	 background: rgba(47, 103, 149, 0.3);
	 padding: 10px 95px;
}

.yourLocation a {
	font-family: "Acherus light";
	font-size: .75em;
}



.grid-container {
	margin-bottom: 20px;
}

.building{
	margin-top:4em;
	margin-bottom:4em;
}

.welcome {
	margin: -27em 42em auto 4em;
    padding: 1em;
    line-height: 4em;
    background: rgba(47, 103, 149, 0.5);
}

.welcome h1 {
	color: #FFB43E;
}

.welcome h3 {
	line-height: 1.75em;
	text-align: left;
	text-transform: none;
}

.welcome button {
	background: #FFB43E;
	border: none;
	margin: 0 1px;
	padding: 10px 70px;
	color: #FFF;
}

.learnAbout {
	text-align: left;
	font-family: "Acherus Black";
	color: #336699;
	margin: .5em 0 1.5em;
}

.resources h3, .resources h5, .expository h3, .expository h2, .ourBeliefs h3, .ourBeliefs h2{
	color: #FFB43E;
}

.churchInfo {
	margin: -1em 0em 0em 2em;
}

.title {
	margin-top: -3.75em;
	margin-bottom: 3em;
	font-size:2em;
}

.ourBeliefs {
	margin: -7em 0 6.35em;
}

.expository {
	margin-top:-7em;
}

.map {
	margin-top: 1em;
}






